<div class="row">
  <div class="col-md-12">
    <h1 [ngStyle]="{border: '1px solid #000000'}" > directive works</h1>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-4 box" appMagic>

  </div>
  <div class="col-md-4 box" appMagic>

  </div>
  <div class="col-md-4 box" appMagic>

  </div>
</div> -->
<div class="row">
<div class="col-md-12">
  <!-- <input type="text" value="input box works" appInputBox [dfCl]="'100px'"> -->
</div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- <input type="text" value="input box works" appInputBox [dfCl]="'100px'"> -->
    <img src="../../assets/download.png" appInputBox [dfwi]="'300px'" [dfhi]="'100px'">
  </div>
  </div>